{% extends 'base.html' %}

{% block title %}
  Policy Monster About Page
{% endblock title %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--top section-->
    <section class="text-light p-5 text-center" style="font-family: Verdana, Tahoma, sans-serif;">
        <div class="container">
            <div class="flex-sm justify-content-center">
                <img class="img-fluid " src="static/pm_app/pm_logo.png" style="width: 200px;"></img>
            </div>

            <div class="d-sm-flex justify-content-center" style="font-family: Verdana, Tahoma, sans-serif;">       
                <h1 class="text-light fs-1 fw-bold">About Us</h1>
            </div>

        </div>
    </section>
    <!--box-->
     <section class="p-5 blue-800">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark bg-opacity-50 text-light" style="font-family: Verdana, Tahoma, sans-serif;">
                        <div class="card-body text-start">
                            <p class="card-body fs-3">
                                Policy Monster is made by a group of Computer Science students who want to help people make
                                informed data security decisions by translating privacy policies into a 
                                easy-to-read format. We believe that everyone deserves to know how their data is 
                                being used and what exactly they are agreeing to when they check the box that 
                                says "I have read and agree to the Terms and Conditions." 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!--Team Cards-->
    <section id="team" class="p-5">
        <div class="container justify-content-center" style="font-family: Verdana, Tahoma, sans-serif;">
            <h2 class="text-center text-white fs-1">Our Team</h2>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-3 p-3">
                    <div class="card bg-dark bg-opacity-50">
                        <div class="card-body text-white text-center">
                            <img src="static/pm_app/M_Profile.jpeg" class=" img-fluid rounded-circle mb-3" alt="Maddison's Profile"/>
                            <h3 class="card-title mb-3">Maddison Ratzlaff</h3>
                            <p class="card-text">
                                Maddison is a senior at the UCCS majoring in 
                                Computer Science with a minor in 
                                Art History. She cares about privacy education and training for 
                                non-tech-savvy people. She likes walking her dog (and making 
                                up songs about her) and 
                                going on 10 to 20 mile long bike rides.
                            </p>
                        </div>
                    </div>
                </div>  
                <div class="col-md-6 col-lg-3 p-3">  
                    <div class="card bg-dark bg-opacity-50">
                        <div class="card-body text-white text-center">
                            <img src="static/pm_app/a_profile.jpg" class=" img-fluid rounded-circle mb-3" alt="Andrew's Profile"/>
                            <h3 class="card-title mb-3">Andrew Theriot</h3>
                            <p class="card-text">
                                Andrew is a Junior at UCCS working on a BS in Computer Science with an emphasis in Cybersecurity. 
                                He is passionate about information security and about creating greater transparency around its 
                                issues and their impacts on the public. When not glued to a screen, he enjoys working with his 
                                hands, creating chainmaille as well as pursuing other metallurgy-based hobbies.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 p-3">  
                    <div class="card bg-dark bg-opacity-50">
                        <div class="card-body text-white text-center">
                            <img src="static/pm_app/Rachel_Profile.jpg" class="rounded-circle img-fluid mb-3" alt="Maddison's Profile"/>
                            <h3 class="card-title mb-3">Rachel Promersberger</h3>
                            <p class="card-text">
                                Rachel is a Junior at UCCS majoring in Data Analytics and Systems Engineering, 
                                minoring in Computer Science and Mathematics. She is eager to use technology for 
                                standing up for other people. When not doing school, you can probably find her 
                                by the coffee machine or working on the nearest sewing or embroidery project.
                            </p>
                        </div>
                    </div>
                </div>      
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}