{% extends 'base.html' %}

{% block title %}
  Policy Monster Homepage
{% endblock title %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--top section-->
    <section class="bg-dark text-light p-5 text-center">
        <div class="container">
            <div class="flex-sm justify-content-center">
                <img class="img-fluid " src="static/pm_app/pm_logo.png" style="width: 200px;"></img>
            </div>

            <div class="d-sm-flex justify-content-center">       
                <h1 class="text-light fs-1 fw-bold">Policy Monster</h1>
            </div>

        </div>
    </section>
    <section class="bg-primary text-dark p-5 text-center">
        <div class="d-sm-flex justify-content-center">
            <div class="input-group mb-3" style="width: 800px;">
                <input type="text" class="form-control" placeholder="Paste URL here..." aria-label="Paste URL here..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn bg-dark btn-outline-secondary" type="button">Go</button>
                </div>
            </div>
        </div>
    </section>
    <!--boxes-->
    <section class="p-5 blue-800">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-3">Our Mission</h2> 
                            <p class="card-body">
                             We know it's hard to resist the temptation to... (Finish)
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, hic, soluta aperiam perspiciatis labore ad non natus fuga aliquid, cumque a officia itaque eaque delectus earum aliquam numquam placeat distinctio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-3">How it Works</h2>
                            <p class="card-body">
                            Policy Monster makes it fast and easy to find the privacy policy or ToS
                            of a website, no downloading files or goose-chasing necessary. Simply 
                            enter the URL and Policy Monster will automatically locate the policy
                            and get right to work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-3">Something Else</h2>
                            <p class="card-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo adipisci tempora nostrum. Dolores libero rem accusamus consequuntur quae, officia dignissimos dolorem ut praesentium impedit quod iste nulla incidunt perferendis maiores?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock content %}